<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Medical_Pedia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.medicine.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddproAction</display-name>
    <servlet-name>AddproAction</servlet-name>
    <servlet-class>com.medicine.AddproAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddproAction</servlet-name>
    <url-pattern>/AddproAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProAction</display-name>
    <servlet-name>AddProAction</servlet-name>
    <servlet-class>com.medicine.AddProAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProAction</servlet-name>
    <url-pattern>/AddProAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeProAction</display-name>
    <servlet-name>removeProAction</servlet-name>
    <servlet-class>com.medicine.removeProAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeProAction</servlet-name>
    <url-pattern>/removeProAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomepageAction</display-name>
    <servlet-name>HomepageAction</servlet-name>
    <servlet-class>com.medicine.HomepageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageAction</servlet-name>
    <url-pattern>/HomepageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutAction</display-name>
    <servlet-name>logoutAction</servlet-name>
    <servlet-class>com.medicine.logoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutAction</servlet-name>
    <url-pattern>/logoutAction</url-pattern>
  </servlet-mapping>
</web-app>